{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome - {% endblock %}

{% block content %}
<h1>
    <span id="title">
        Priceless Beauty
    </span>
</h1>

<h2 class="h2"> Documenting my favourite Beauty items😘</h2>
<img src="{% static 'website/banner.jpeg' %}" height="450" width="700" alt="banner">

<h3 class="info">Product Categories</h3>

<table>
    <tr>
        <th><a href="{% url 'website.skincare' %}">SkinCare</a></th>
        <th><a href="{% url 'website.makeup' %}">Makeup</a></th>
        <th><a href="{% url 'website.hair' %}">Hair</a></th>
    </tr>
    <tr>
        <td>
            <img src="{% static 'website/skincare.jpeg' %}" alt="Skincare image">
        </td>
        <td>
            <img src="{% static 'website/makeup.jpeg' %}" alt="Makeup image">
        </td>
        <td>
            <img src="{% static 'website/hair.jpeg' %}" height="300" width="300"  alt="Haircare image">
        </td>
    </tr>
</table>
{% endblock %}